.about{
  position: relative;
  padding: 40px 20px;
  background-color: $background-color;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  //   padding: 20 32px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  //   padding: 60 16px;
  // }
}

.about__lable {
  margin-bottom: 15px;

  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $pink-txt-color;
}

.about__title {
  margin-bottom: 32px;

  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $red-txt-color;
}

.about__description {
  margin-bottom: 20px;

  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $second-txt-color;

  &--color {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $prime-txt-color;
    margin-bottom: 29px;
  }
}

.about__btn {
  @extend %btn;
  font-size: 14px;
  line-height: 1.28;
  font-style: 500;
  color: $red-txt-color;
  background-color: $white-color;
  display: flex;
  align-items: center;
}

.about__svg {
  margin-left: 14px;
}

.bg {
  position: absolute;
  left: 0;
  top: 574px;

  height: 132px;
  width: 320px;

  background: url('../images/milk-background(png)-desktop-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: url('../images/milk-background(png)-desktop-2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {

  .about {
    @media screen and (min-width: 320px) {
    width: 768px;
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 80px;
    padding-left: 32px;
  }
  }
  .about__lable {
    font-size: 26px;
    line-height: 1.15;
  }

  .about__title {
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 1.46;
  }

  .about__bloc {
    display: flex;
  }

  .about__wrap {
    display: inline-block;
    flex-direction: column;
    flex-basis: calc((100% - 32px) / 2);
  }

  .about__img {
    flex-basis: calc((100% - 32px) / 2);
    margin-right: 32px;
  }

  .about__btn {
    display: inline;
  }

  .about__description {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.79;

    &--color {
      font-size: 14px;
      line-height: 1.79;

      margin-bottom: 29px;
    }
  }

  .about__btn {
    font-size: 16px;
    line-height: 1.31;
    color: $red-txt-color;
    background-color: $white-color;
    display: flex;
    align-items: center;
  }

  .bg {
    display: none;
  }
}
