body {
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.04em;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.advantages__name, .gallery__title, .custumer__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  padding-bottom: 80px;
  background-color: #fff5f6;
}

.advantages__container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 320px) {
  .advantages__container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__container {
    width: 1200px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantages__wrapper--3::before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 44px;
  height: 50px;
  background-image: url("../images/icon-3(png)-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__wrapper--3::before {
    background-image: url("../images/icon-3(png)-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__wrapper--3::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__wrapper--3::before {
    margin-bottom: 40px;
  }
}

.advantages__wrapper--2::before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-image: url("../images/icon-2(png)-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__wrapper--2::before {
    background-image: url("../images/icon-2(png)-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__wrapper--2::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__wrapper--2::before {
    margin-bottom: 40px;
  }
}

.advantages__wrapper--1::before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 33px;
  height: 50px;
  background-image: url("../images/icon-1(png)-1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__wrapper--1::before {
    background-image: url("../images/icon-1(png)-2x.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages__wrapper--1::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__wrapper--1::before {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__item:not(:last-child) {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    max-width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    max-width: 290px;
  }
}

.advantages__title {
  margin-bottom: 16px;
  font-family: 'Titan One', sans-serif;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 58px;
  }
}

.advantage__descr {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.70;
}

@media screen and (min-width: 768px) {
  .advantage__descr {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__descr {
    font-size: 16px;
    line-height: 1.76;
  }
}

.gallery {
  outline: 1px solid red;
  width: 100%;
  height: 122px;
  background-image: url("../images/fragments(jpg)-mobile-1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.custumer {
  padding-top: 80px;
  padding-bottom: 48px;
  text-align: center;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.image-slider__block {
  background-color: #fafafa;
  width: 1034px;
  padding: 31px 106px;
  margin-left: auto;
  margin-right: auto;
}

.image-slider__txt-block {
  padding: 43px 58px 26px 65px;
}

@media screen and (min-width: 1200px) {
  .image-slider__txt-block {
    padding: 15px 36px 8px 36px;
  }
}

.image-slider__txt {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 750px;
  width: 100%;
  position: relative;
  z-index: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 19px, #e1e1e1 20px);
}

.image-slider__txt::before {
  display: block;
  width: 55px;
  height: 40px;
  content: ' ';
  position: absolute;
  left: -5%;
  top: -5%;
  z-index: -1;
  background-image: url("../images/lapku.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-slider__txt::after {
  display: block;
  width: 20px;
  height: 20px;
  content: ' ';
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/red-group(png)-2x.png");
  left: 50%;
  right: 50%;
}

.image-slider__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 50px;
}
/*# sourceMappingURL=index.css.map */