<section class="products">
  <div class="conteiner">
    <p class="products-title">100% natural</p>
    <h2 class="products-title__leibl">products</h2>
    <ul>
      <li class="products-cart">
        <!-- <img src="" alt="" /> -->
        <h3 class="products-cart__titel">ice cream</h3>
        <p class="products-cart__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products-button">
          <img src="../images/arrow(png)-mobile-1x.png" alt="" />
        </button>
      </li>

      <li class="products-cart">
        <!-- <img src="" alt="" /> -->
        <h3 class="products-cart__titel">ice coffee</h3>
        <p class="products-cart__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" type="button" class="products-button">
          <!-- <img src="../images/arrow(png)-mobile-1x.png" alt="" /> -->
        </button>
      </li>

      <li class="products-cart">
        <!-- <img src="" alt="" /> -->
        <h3 class="products-cart__titel">milkshakes</h3>
        <p class="products-cart__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" type="button" class="products-button">
          <img src="../images/arrow(png)-mobile-1x.png" alt="" />
        </button>
      </li>
    </ul>
  </div>
</section>
